._nav_menu .dropdown-toggle::after {
  position: absolute;
  right: -13px;
  top: 47%;
}

._cursor_pointer {
  cursor: pointer;
}

._ant_week_checkbox .ant-checkbox-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

._ant_week_checkbox .ant-checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

._ant_week_checkbox .ant-checkbox-wrapper::after {
  content: '';
}